<main class="main-about__container">
  <app-big-text [bigText]="bigText"></app-big-text>

  <div class="main-about__text">
    <h2>Eu sou Emanuel Santos, Programador Full stack / Desinger / Mobile</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptas totam dolorem provident eum dolorum nesciunt eveniet ipsam consequatur! Earum rerum possimus, eaque atque minima error voluptates dolore inventore nemo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, hic laudantium! Optio voluptates esse fugit tempore ab, porro atque repellendus.</p>
  </div>


  <div class="main-about__whatIDo-container">
    <!-- Quadrado Preto -->
    <div class="main-about__status-container">
      <div class="main-about__status-bg top">
        <h4>50+</h4>
        <p>Projetos</p>
      </div>

      <div class="main-about__status-bg right">
        <h4>50+</h4>
        <p>Projetos</p>
      </div>

      <div class="main-about__status-bg bottom">
        <h4>50+</h4>
        <p>Projetos</p>
      </div>

      <div class="main-about__status-bg left">
        <h4>1K</h4>
        <p>Seguidores</p>
      </div>
    </div>

    <div class="main-about__text-container">
        <h3>O que eu faço?</h3>



        <div class="main-about__text-whatIDo">
          <img src="../../../assets/img/programacao.png" alt="" width="65px">

          <div class="main-about__text-whatIDo-container">
            <h4>Programação Web</h4>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
          </div>
        </div>

        <div class="main-about__text-whatIDo">
          <img src="../../../assets/img/programacao.png" alt="" width="65px">

          <div class="main-about__text-whatIDo-container">
            <h4>Programação Web</h4>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
          </div>
        </div>

        <div class="main-about__text-whatIDo">
          <img src="../../../assets/img/programacao.png" alt="" width="65px">

          <div class="main-about__text-whatIDo-container">
            <h4>Programação Web</h4>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
    </div>

  </div>

</main>
