<section class="section__container">
  <h2 class="complemento">Olá, tudo bem? <span class="emotio__animacao">&#x270B;</span></h2>
  <h2 class="name">Eu sou <span class="nome__fonte">Emanuel</span></h2>
  <h2 class="name__bags"><span>Dev Full stack | Designer | Dev Mobile</span></h2>
  <p> Olá, meu nome é Emanuel, e atualmente, sou um desenvolvedor Full Stack com foco em desenvolvimento Web e Mobile. Minhas
  principais linguagens de programação são Javascript, Typescript e C#. Nos meus momentos de lazer, também me dedico à
  criação de ilustrações e à edição de vídeos e fotos. </p>
  <button class="btn"><a [routerLink]="['/about-me']">Mais sobre mim</a></button>
  
</section>
