.main__container {
display: grid;
  flex-direction: row;
  grid-template-columns: 48.11% 6fr;
  background: white;

  background: white;
  overflow-x: hidden;
}

.main__container>.imgFundo {
  width: 100%;
}


