<div class="subComponent-ProvaSocial__container">
  <div class="nameImg__container">
    <img src="https://img.quizur.com/f/img5e37b1e78a4003.67893276.jpeg?lastEdited=1580708345" alt="Foto de perfil do usuario que comentou"
    width="360px" height="170px">

    <div class="describePerson__container">
      <h1>Nome do Cliente</h1>
      <h3>Descrição do Cliente</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero in accusantium nisi, explicabo molestias quisquam eos cumque? Sunt minus sint harum magnam </p>
    </div>
  </div>

  <div class="avaliacaoDate__container">
    <div class="like">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </div>

    <div class="day">
      <p>Set 20, 2023</p>
    </div>
  </div>
</div>
