<main>
  <app-big-text [bigText]="bitTextContact"></app-big-text>

  <div class="textContact__container">
    <h1>Foi um prazer estar com você aqui!</h1>
    <p>Caso você tenha interesse em criarmos um projeto juntos, fique a vontade para entrar em contato.</p>


    <div class="textContacto__component">
      <div class="imgContact__container">
        <a href="https://www.instagram.com/emanuell_mkt/" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/3391/3391090.png" alt="">
          <p>Instagram</p>
        </a>

      </div>

      <div class="imgContact__container">
        <a href="https://web.whatsapp.com/send?phone=5514997341807" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/174/174879.png" alt="">
          <p>WhatsApp</p>
        </a>

      </div>

      <div class="imgContact__container">
        <a target="_blank" href="mailto:emanuelsantoss42@gmail.com">
          <img src="https://cdn-icons-png.flaticon.com/512/281/281769.png" alt="">
          <p>Envia-me um Email</p>
        </a>
      </div>

    </div>
  </div>

  <h2>Obrigado pela atenção!</h2>
</main>
